.big {
    width: 100%;
}

.page {
    background-image: url(/assets/imgs/e867b6f09a9b30bace79962804d3f61b.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120rem;
}

.chat-panel {
    width: 15rem;
    background: #864f26;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -10px 0px 20px 0px #00000069;
}

.user {
    padding: 0.5rem;
    font-size: 1.2rem;
    color: rgb(235, 232, 232);
}

.card {
    min-width: 35rem;
    min-height: 20rem;
    background-color: rgb(154, 114, 102);
    border-radius: 1rem;
    color: rgb(45, 5, 5);
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;

    label {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    input, input:active, input:focus, input:hover {
        outline: none;
        width: 17rem;
        padding: 5px;
        margin-bottom: 10px;
    }
    
    button {
        padding: 5px 19px;
    }

    span {
        color: rgb(190, 42, 42);
        padding-bottom: 8px;
    }
}

.dialog {
    background: rgb(0 0 0 / 77%);
    backdrop-filter: blur(2px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connected-users {
    border-bottom: 2px solid rgb(255, 255, 255);
}

  .message-panel {
    flex-grow: 1;
  }

  .messages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }

  .message-user {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .message-time {
    font-size: 10px;
    position: absolute;
    right: 10px;
    bottom: 4px;
  }

  .my-message {
    position: relative;
    .message-content {
        background-color: rgba(198, 223, 230, 0.908);
        padding: 10px 20px;
        border-radius: 100px;
        border-top-right-radius: 1px;
      }
  }

  .other-message {
    position: relative;
    .message-content {
        background-color: rgba(248, 244, 244, 0.881);
        padding: 10px 20px;
        border-radius: 100px;
        border-top-left-radius: 1px;
      }
  }

  .input-panel {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .message-input, .message-input:active, .message-input:focus {
        width: 192px;
        border: #4a280f 3px solid;
        box-sizing: border-box;
        outline: none;
    }
    .send-button {
        background-color: #a25c2d;
        border: #4a280f;
        border-top: #4a280f 3px solid;
        border-bottom: #4a280f 3px solid;
        border-right: #4a280f 3px solid;
        width: 48px;
        cursor: pointer;
    }
    .send-button:hover {
        background-color: #925125;
    }
    .send-button:active {
        background-color: #76401c;
    }
  }