<div class="page">
    <div class="dialog" *ngIf="enterForm.isOpen">
        <div class="card">
            <label for="inputName">Please type your username:</label>
            <input id="inputName" type="text" [(ngModel)]="enterForm.username">
            <span class="error" *ngIf="enterForm.error.isEmpty">* Inut is empty!!!</span>
            <span class="error" *ngIf="enterForm.error.tooLong">* Inut is too long!!!</span>
            <button (click)="submitName()">Submit</button>
            {{enterForm.username}}
        </div>
    </div>
    <div class="chat-panel">
        <div class="connected-users">
            <div class="user" *ngFor="let user of connectedUsers">
                {{user.username}}
            </div>
        </div>
        <div class="message-panel">
            <div class="messages">
                <div class="message" *ngFor="let msg of messages">
                    {{msg.text}}
                </div>
            </div>
        </div>
        <div class="input-panel">
            <textarea [(ngModel)]="newMessage" class="message-input"></textarea>
            <button (click)="sendMessage()" class="send-button">Send</button>
        </div>
    </div>
</div>
