.big {
    width: 100%;
}

.chat-panel {
    width: 15rem;
    background-color: rgb(120, 79, 79);
    height: 100vh;
}

.user {
    padding: 0.5rem;
    font-size: 1.2rem;
    color: rgb(235, 232, 232);
}