body {
    padding: 0;
    margin: 0;
    background-color: rgb(56, 41, 41);
    min-height: 100vh;
}

.page {
    background-color: rgb(56, 41, 41);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 100vh;
}

.card {
    min-width: 5rem;
    min-height: 3rem;
    background-color: rgb(154, 114, 102);
    border-radius: 1rem;
    color: rgb(45, 5, 5);
}