.play, .options {
    color: #1c1304;
    letter-spacing: 8px;
    cursor: pointer;
    font-family: "Protest Revolution", sans-serif;
}

.play {
    font-size: 40px;
    background: rgba(0, 0, 0, 0);
    border: 0px;
    background-image: url(/assets/imgs/Button_Blue_9Slides.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 18rem;
    width: 17rem;
}

.options {
    font-size: 25px;
    background: rgba(0, 0, 0, 0);
    border: 0px;
    background-image: url(/assets/imgs/Button_Hover_3Slides.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 7rem;
    width: 17rem;
}

.page {
    background-image: url(/assets/imgs/eqMZWi.png);
    background-repeat: repeat-y;
    background-position: 50% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    box-sizing: border-box;
    height: 5.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 3px;
    background: url(/assets/imgs/Ribbon_Yellow_Connection_Up_Pressed.png);
    background-size: 67px;
    background-repeat: repeat;
}

.menu {
    height: 43rem;
    width: 59rem;
    display: flex;
    background-image: url(/assets/imgs/mainMenu.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    height: 24rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.users-panel {
    background-image: url(/assets/imgs/Carved_9Slides.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 70px;
    height: 20rem;
    width: 19rem;
    transform: translateY(26px);
    position: relative;
}

.users-panel::before {
    content: "Connected users:";
    position: absolute;
    font-size: 35px;
    top: -57px;
    right: 29px;
}

footer {
    box-sizing: border-box;
    height: 2.6rem;
    width: 100%;
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-position: top;
    background: url(/assets/imgs/Ribbon_Yellow_Connection_Up_PressedRev.png);

    a {
        color: #1c1304;
        margin-left: 10px;
    }
}
