<div class="page">
    <header class="header">
        <div class="logo">
            <div class="logo-text">W</div>
            <div class="logo-img"></div>
            <div class="logo-text">G</div>
        </div>
        <div class="profile" routerLink="/profile">
            <div class="profile-img"></div>
            <div>Profile</div>
        </div>
    </header>
    <section class="menu">
        <button class="play" *ngIf="!isGameStarted" (click)="startGame()">
            PLAY
        </button>
        <button class="options" routerLink="/">
            OPTIONS
        </button>
    </section>
    <footer>
        Github:<a href="https://github.com/vlad-shkv">vlad-shkv</a>
    </footer>
</div>
