<div class="page">
    <header class="header">
        <button (click)="socketService.stopGame()">Stop Game</button>
    </header>
    <section class="menu">
        <div class="button-container">
            <button class="play" *ngIf="!isGameStarted" (click)="startGame()">
                PLAY
            </button>
            <button class="options" routerLink="/">
                OPTIONS
            </button>
        </div>
        <div class="users-panel">
            <div class="user" *ngFor="let user of socketService.connectedUsers">
                {{user.username}}
            </div>
        </div>
    </section>
    <footer>
        Github:<a href="https://github.com/vlad-shkv">vlad-shkv</a>
    </footer>
</div>
